.games-container{
    background-color: #1f1f1f;
    height: auto;
    padding-top: 115px;
    padding-left: 80px;
    padding-right: 80px;
}

.games-titulo{
    display: flex;
    margin-bottom: 2.5rem;

    h2{
        font-family: Outfit;
        font-weight: 700;
        font-size: 3rem;
        line-height: inherit;
        display: flex;
        justify-content: left;
        margin-bottom: 2.5rem;
        margin-block-start: 0;
        letter-spacing: .07em;
        text-align: left;
    }
}

.games-contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}