.topicality-container{
    background-image: radial-gradient(circle at 0% 0%, #471919 0, #441d1d 12.5%, #1d1212 25%, #1d1212 37.5%, #111111 50%, #111111 62.5%, #111111 75%, #111111 87.5%, #111111 100%);
    height: auto;
    padding-top: 115px;
    padding-bottom: 85px;
    padding-left: 80px;
    padding-right: 80px;
}

.topicality-titulo{
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: space-between;

    h2{
        font-family: Outfit;
        font-weight: 700;
        font-size: 3rem;
        line-height: inherit;
        display: flex;
        justify-content: left;
        margin-bottom: 2.5rem;
        margin-block-start: 0;
        letter-spacing: .07em;
        text-align: left;
    }

    a{
        font-family: Arial,sans-serif;
        font-weight: 800;
        line-height: 1;
        letter-spacing: .05em;
        font-size: .813rem;
        border-radius: 6.5px;
        padding: 0.5rem 0.75rem;
        min-width: auto;
        line-height: 1;
        background-color: rgba(128,128,128,.2);
        color: #f9f9f9;
        border: 0;
        vertical-align: middle;
        cursor: pointer;
        overflow: visible;
        text-align: center;
        text-decoration: none;
        position: relative;

        height: 15px;
        text-align: right;
    }

    a:hover{
        background-color: rgba(167, 167, 167, 0.2);
    }
}

.topicality-contenido{
    display: flex;
    .main-target{
        position: relative;
        width: 60%;
        margin-right: 2%;
        background-image: url('https://www.riotgames.com/assets/img/meta/f9af159e9f05b94f26b1cd30344451d1/2022impactreport-1200x600.png');
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        border: 2.5px solid #1f1f1f;
        transition: border-color 0.3s ease;

        h1{
            position: absolute;
            top: 0;
            left: 0;
            font-family: Outfit;
            font-weight: 700;
            font-size: 1.9rem;
            line-height: inherit;
            display: flex;
            justify-content: left;
            margin-bottom: 2.5rem;
            margin-block-start: 0;
            letter-spacing: .07em;
            text-align: left;
            color: #f9f9f9;
            margin-left: 5%;
            margin-top: 39%;
        }

        a{ 
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .main-target:hover{
        border-color: #9E9C99;
    }

    .second-target{
        width: 38%;
    }
}