.topicality-container{
    background-image: radial-gradient(circle at 0% 0%, #2c0000 0, #180000 12.5%, #160000 25%, #0f0000 37.5%, #000000 50%, #000000 62.5%, #000000 75%, #000000 87.5%, #000000 100%);
    height: auto;
    padding-top: 115px;
    padding-bottom: 85px;
    padding-left: 80px;
    padding-right: 80px;
}

.topicality-titulo{
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: space-between;

    h2{
        font-family: Outfit;
        font-weight: 700;
        font-size: 3rem;
        line-height: inherit;
        display: flex;
        justify-content: left;
        margin-bottom: 2.5rem;
        margin-block-start: 0;
        letter-spacing: .07em;
        text-align: left;
    }

    a{
        font-family: Arial,sans-serif;
        font-weight: 800;
        line-height: 1;
        letter-spacing: .05em;
        font-size: .813rem;
        border-radius: 6.5px;
        padding: 0.5rem 0.75rem;
        min-width: auto;
        line-height: 1;
        background-color: rgba(128,128,128,.2);
        color: #f9f9f9;
        border: 0;
        vertical-align: middle;
        cursor: pointer;
        overflow: visible;
        text-align: center;
        text-decoration: none;
        position: relative;

        height: 15px;
        text-align: right;
    }
}

.topicality-contenido{
    display: flex;
    .main-target{
        width: 60%;
        margin-right: 2%;
        background-image: url('https://www.riotgames.com/assets/img/meta/f9af159e9f05b94f26b1cd30344451d1/2022impactreport-1200x600.png');
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;

        a{ 
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .second-target{
        width: 38%;
    }
}